.detail-container {
  padding: 20px;
}

.detail-top-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.detail-left-column,
.detail-right-column {
  flex: 1 1 300px; /* Ensure both columns are flexible but have a minimum width */
  max-width: 600px; /* Limit the maximum width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-left-column {
  width: 100%;
  max-width: 500px;
}

.detail-right-column {
  width: 100%;
  max-width: 500px;
}

.detail-image,
.detail-map {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover; /* This ensures the image fits within the square without stretching */
}

.detail-image {
  aspect-ratio: 1; /* Ensures the image is always square */
}

.detail-map {
  aspect-ratio: 1; /* Ensures the map is always square */
  border: 0;
}

.detail-title {
  margin-top: 15px;
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
}

.detail-description {
  margin-top: 10px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}

.detail-driving-time {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: 500;
  color: #333;
  text-align: center;
}

.detail-bottom-section {
  margin-top: 40px;
}
