.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: sticky;
  top: 20px;
  z-index: 1000;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Provides space between the input and button */
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 10px 20px;
  width: 90%; /* Makes the container responsive */
  max-width: 600px; /* Caps the maximum width */
  height: 50px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  color: #333;
}

.search-button {
  background: #ff385c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  background: #d40000;
}
